	
	* {
	    margin: 0;
	    padding: 0;
	}


	#wrapper {
	    width: 800px;
	    background: black;
	    margin: 0 auto;
	}


	#header {
	    width: 100%;
	    border: 0px solid #3d61e2;
	    margin-top: 11px;
	    border-bottom: 4px solid #53BBF4;
	    background:
	    radial-gradient(black 15%, transparent 16%) 0 0,
	    radial-gradient(black 15%, transparent 16%) 8px 8px,
	    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	    background-color:#282828;
	    background-size:16px 16px;
	}


	img {
	    width: 267px;
	    display: inline;
	    margin-top: 1px;
	    margin-bottom: -7px;
	    margin-left: 27px;
	    margin-right: 135px;
	}


	#header h3 {
	    display: inline-block;
	    border: 3px solid transparent;
	    border-radius: 8px 7px 0px 0px;
	    width: 100px;
	    text-align: center;
	    background: #53BBF4;
	    text-shadow: 2px 1px 4px black;
	}

	

	a {
	    text-decoration: none;
	}


	#header h3 a:link {
	    color: #FF85CB;  
	}


	#header h3 a:visited {    
	    color: yellow;
	}


	#header h3 a:hover {  
	    color: yellow;
	    cursor: pointer;
	}


	div#center {
	    width: 100%;
	    border-bottom: 5px solid #53BBF4;
	    background-color:black;
	    background-image:
	    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	}

	div#sidebar {
	    display: inline-block;
	    border: 5px solid transparent;
	    margin-left: 0%;
	    padding: 10px;
	    width: 25%;
	    height: 294px;
	    box-sizing: border-box;
	    vertical-align: top;
	    margin-right: 2%;
	    margin-top: 2%;
	}


	#sidebar ul {
	    margin-top: 10px;
	    margin-left: 7px;
	}



	#sidebar ul li {
	    list-style: none;
	    border: 2px solid black;
	    text-align: center;
	    padding: 16px;
	    border-radius: 17px;
	    font-weight: bold;
	    /*background: whitesmoke;*/
	    width: 94px;
	    margin-left: 13px;
	    margin-bottom: 6px;


	    background: #FF8008; /* fallback for old browsers */
	    background: -webkit-linear-gradient(to left, #FF8008 , #FFC837); /* Chrome 10-25, Safari 5.1-6 */
	    background: linear-gradient(to left, #FF8008 , #FFC837); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	            
	}


	div#content {
	    display: inline-block;
	    width: 69%;
	    height: 293px;
	    overflow: scroll;
	    border: 2px solid black;
	    margin-left: -1%;
	    margin-top: 2%;
	    background: white;
	    box-sizing: border-box;
	    padding: 15px;
	    margin-bottom: 1.2%;
	    text-align: justify;
	}


	h2 {
		text-align: center; 
	}


	div#boxes {
	    background-color: bisque;
	    text-align: center;
	   border-bottom: 5px solid #53BBF4;
	}


	#box1, #box2, #box3, #box4 {
	    border: 2px solid green;
	    width: 170px;
	    height: 71px;
	    margin: 15px 7px 15px 10px;
	    display: inline-block;
	    background-color: blanchedalmond;
	    position: relative;
	}


	#box1a, #box1b, #box2a, #box2b, #box3a, #box3b, #box4a, #box4b {
	    background: #F44336;
	    width: 25px;
	    height: 25px;
	    border-radius: 13px;
	    position: absolute;
	}


	#box1a, #box2a, #box3a, #box4a {
	    top: -15px;
	    right: -12px;
	}


	#box1b, #box2b, #box3b, #box4b {
	    top: 57px;
	    right: 157px;
	}



	div#table {
	    width: 100%;
	    /* display: inline-block; */
	    background: white;
	    box-sizing: border-box;
	    position: relative;
	}


	#line {
		width: 100%;
		height: 10px;
		background-color: white;
	}

	#line2 {
		width: 100%;
		height: 30px;
		background-color: pink;
		position: relative;
	}

	
	#line2 h3 {
		text-align: center;
		font-size: 1.0em;
		font-weight: bold;
		color: blue;
		font-weight: 4px;
	}

	
	#cantik img {
	    width: 59px;
	    height: 49px;
	    position: absolute;
	    left: 0;
	    right: 0;
	    margin: auto;
	    margin-top: -44px;
	}

	div#form1 {
	    margin-left: 16px;
	    margin-right: 13px;
	}

	div#form1, #form2 {
	    background: white;
	    display: inline-block;
	    box-sizing: border-box;
	    width: 49%;
	    border: none;
	    background: #f4f7f8;
	    padding: 10px;
	    margin: 10px auto;
	    border-radius: 8px;
	    vertical-align: top;
	    margin-left: 4px;
	}


	fieldset {
	    border: none;
	}


	legend {
	    margin-bottom: 10px;
	    font-size: 1.0em;
	    font-weight: bold;
	}



	span.nombor {
	    border: 1px solid blue;
	    border-radius: 15px 15px 15px 0px;
	    text-align: center;
	    width: 30px;
	    background: #1abc9c;
	    color: white;
	    height: 30px;
	    font-size: 0.9em;
	    display: inline-block;
	    margin-right: 4px;
	    line-height: 30px;
	    text-shadow: 0 1px 0;
	}

	input[type="text"] {
	    width: 100%;
	    height: 28px;
	    margin-bottom: 2.4px;
	}



	input[type="radio"] {
	    /* text-align: center; */
	    margin-left: 28px;
	    margin-right: 25px;
	}

	input[type="submit"] {
	    width: 100%;
	    color: white;
	    background: #1abc9c;
	    border: 1px solid #16a085;
	    padding: 7px;
	    font-size: 0.9em;
	    font-weight: bold;
	}


	input[type="submit"]:hover {
		background: #109177;
	}

	input[type="checkbox"] {
	    margin-left: 21px;
	    /* text-align: center; */
	    margin-right: 21px;
	}

	select {
		width: 100%;
	}


	input[type="text"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, {
		background: #d2d9dd;
	}

	div#footer {
	    border: 0px solid transparent;
	    color: yellow;
	    padding: 12px;
	    text-align: center;
	    font-size: 16px;
	    font-family: serif;
	    background:
	    radial-gradient(black 15%, transparent 16%) 0 0,
	    radial-gradient(black 15%, transparent 16%) 8px 8px,
	    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	    background-color:#282828;
	    background-size:16px 16px;
	}

	#footer a {
		color: yellow;
		text-decoration: underline;
	}
